body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 29px;
}

nav {
  background-color: #4D4D4D;
  font-size: 16px;
}

nav a {
  letter-spacing: 6px;
}

nav a:hover {
  color: #FFC10E !important;
}

nav a:active {
  color: #FF7E1E !important;
}

.img-logo {
  min-width: 80px;
  min-height: 35px;
  background-image: url("../img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
}

span {
  color: #FF7E1E;
}

.custom-row-mx-15 {
  margin: 0 15px;
}

.section1 {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
}

.section1 .img-main-digibar {
  min-height: 100px;
  background-image: url("../img/main/main-digibar.png");
  background-position: center;
  background-repeat: no-repeat;
}

.section1 .marquee {
  height: 80px;
  -webkit-animation: marquee 20s linear 1s infinite normal;
          animation: marquee 20s linear 1s infinite normal;
}

@-webkit-keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -2600px;
  }
}

@keyframes marquee {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -2600px;
  }
}

.section1 .localweather {
  min-width: 80px;
  min-height: 80px;
}

.section1 .localtime {
  font-family: "Share Tech Mono", monospace;
  font-size: 46px;
  color: #FFC10E;
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 3px;
}

.section1 .img-main-map {
  margin-top: 112px;
  min-height: 500px;
  width: 100%;
  background-position: left;
  background-repeat: no-repeat;
  padding: 50px 0;
}

.section1 .img-main-map p {
  font-weight: bold;
  font-size: 76px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  min-height: 40%;
  letter-spacing: 10px;
}

.section1 .station-start {
  background-image: url("../img/Shal/Shal-staBtn1st.png");
  min-width: 286px;
}

.section1 .station-arrow {
  background-image: url("../img/Shal/Shal-staBtnArrow.png");
  min-width: 190px;
}

.section1 .station-stops {
  background-image: url("../img/Shal/Shal-staBtn1st.png");
  min-width: 286px;
}

.section1 .station-end {
  background-image: url("../img/Shal/Shal-staBtnlast.png");
  min-width: 160px;
}

.section2 {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;
}

.section2 .img-main-title {
  min-height: 80px;
  background-image: url("../img/Shal/main-Shal-title.png");
  background-position: left;
  background-repeat: no-repeat;
}

.section2 .text-main-cotent {
  margin-top: 40px;
  letter-spacing: 7px;
  line-height: 1.6em;
}

.section2 .img-main-km {
  margin-top: 150px;
  max-width: 445px;
  width: 100%;
  max-height: 105px;
}

.section2 .img-main-line {
  margin-top: 133px;
  max-width: 1110px;
  width: 100%;
  min-height: 140px;
  height: 100%;
  background-image: url("../img/Shal/main-Shal-line.png");
  background-position: bottom;
  background-repeat: no-repeat;
}

.section2 .img-main-train {
  margin-top: -20px;
  max-width: 850px;
  width: 100%;
  max-height: 130px;
}

.img-main-bgi {
  max-width: 1920px;
  height: 1080px;
  padding: 0;
  background-image: url("../img/main/main-bgi.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.section6 {
  min-height: 50vh;
  padding: 150px 0 100px 0;
  text-align: center;
}

.section6 .img-main-btn {
  max-width: 255px;
  height: 360px;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.section6 .img-btn-Neiw {
  background-image: url("../img/main/main-btn-Neiw.png");
}

.section6 .img-btn-Neiw:hover,
.section6 .img-btn-Neiw:active {
  background-image: url("../img/main/main-btn-Neiwh.png");
}

.section6 .img-btn-Liuj {
  background-image: url("../img/main/main-btn-Liuj.png");
}

.section6 .img-btn-Liuj:hover,
.section6 .img-btn-Liuj:active {
  background-image: url("../img/main/main-btn-Liujh.png");
}

.section6 .img-btn-Jiji {
  background-image: url("../img/main/main-btn-Jiji.png");
}

.section6 .img-btn-Jiji:hover,
.section6 .img-btn-Jiji:active {
  background-image: url("../img/main/main-btn-Jijih.png");
}

.section6 .img-btn-Shal {
  background-image: url("../img/main/main-btn-Shal.png");
}

.section6 .img-btn-Shal:hover,
.section6 .img-btn-Shal:active {
  background-image: url("../img/main/main-btn-Shalh.png");
}

.section6 .img-btn-Shen {
  background-image: url("../img/main/main-btn-Shen.png");
}

.section6 .img-btn-Shen:hover,
.section6 .img-btn-Shen:active {
  background-image: url("../img/main/main-btn-Shenh.png");
}

.section6 .img-btn-Ping {
  background-image: url("../img/main/main-btn-Ping.png");
}

.section6 .img-btn-Ping:hover,
.section6 .img-btn-Ping:active {
  background-image: url("../img/main/main-btn-Pingh.png");
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

footer {
  min-height: 200px;
  padding: 90px 0;
  background-color: #4D4D4D;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}

footer div {
  padding: 15px;
}

footer div p {
  margin-bottom: 0;
  letter-spacing: 5px;
}
/*# sourceMappingURL=main_style.css.map */