body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.8125rem;
}

nav {
  background-color: #4D4D4D;
  font-size: 1rem;
}

nav a {
  letter-spacing: 0.6rem;
}

nav a img {
  height: 40px;
}

nav a:hover {
  color: #FFC10E !important;
}

nav a:active {
  color: #FF7E1E !important;
}

span {
  color: #FF7E1E;
}

.section1 {
  min-height: 100vh;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.section1 .img-main-digibar {
  position: absolute;
  z-index: 1;
}

.section1 .marquee {
  margin: 0.63rem 0;
  width: 828px;
  position: absolute;
  z-index: 2;
  left: 19px;
  overflow: hidden;
}

.section1 .localweather {
  padding: 0.597rem 0.469rem;
  z-index: 3;
}

.section1 .localtime {
  font-family: "Share Tech Mono", monospace;
  font-size: 2.875rem;
  color: #FFC10E;
  letter-spacing: 0.1rem;
  padding: 0 0.66rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 3;
}

.section1 .row:nth-child(2) {
  margin: 7rem 0;
}

.section1 .row:nth-child(2) p {
  font-size: 4.75rem;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  letter-spacing: 0.625rem;
  position: absolute;
}

.section2 {
  min-height: 100vh;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.section2 .text-main-cotent {
  margin-top: 2.5rem;
  letter-spacing: 0.4375rem;
  line-height: 3.15rem;
}

.section2 .row:nth-child(3) {
  margin-top: 9.375rem;
}

.section2 .img-main-line {
  margin-top: 8.125rem;
  position: absolute;
  z-index: 1;
}

.section2 .img-main-train {
  margin-top: 6.9375rem;
  position: absolute;
  z-index: 2;
  margin-left: 8.13rem;
  margin-right: 8.13rem;
}

.img-main-bgi {
  background-image: url("../img/main/main-bgi.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section6 {
  padding: 9.375rem 0 6.25rem 0;
}

.section6 .img-main-btn img {
  border-radius: 21px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

footer {
  background-color: #4D4D4D;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

footer div {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

footer div p {
  letter-spacing: 0.3rem;
}

.dropdown-menu {
  width: 100vw;
  background-color: rgba(77, 77, 77, 0.9);
  top: 95%;
  left: unset;
  right: 0;
  border: unset;
  border-radius: unset;
}

.dropdown-menu .dropdown-item {
  background-color: transparent;
  display: block;
  clear: both;
  text-align: inherit;
  white-space: pre-wrap;
}

.dropdown-menu .dropdown-item li {
  display: inline-block;
}
/*# sourceMappingURL=main_style.css.map */