body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: normal;
  font-size: 1.8125rem;
}

.navbar {
  background-color: #4D4D4D;
  font-size: 1rem;
}

.navbar a {
  letter-spacing: 0.6rem;
}

.navbar a img {
  height: 40px;
}

.navbar a:hover {
  color: #FFC10E !important;
}

.navbar a:active {
  color: #FF7E1E !important;
}

span {
  color: #FF7E1E;
}

.section1 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section1 .row:nth-child(1)::before {
  content: '';
  height: 100px;
}

.section1 .img-main-digibar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
}

.section1 .col-3 > div.img-main-digibar {
  right: 16px;
}

.section1 .marquee {
  margin: 0.63rem 0;
  width: 828px;
  position: absolute;
  z-index: 2;
  left: 19px;
  overflow: hidden;
}

.section1 .localweather {
  padding: 0.597rem 0.75rem;
  position: absolute;
  z-index: 3;
  left: -6px;
}

.section1 .localtime {
  font-family: "Share Tech Mono", monospace;
  font-size: 2.875rem;
  color: #FFC10E;
  letter-spacing: 0.1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  z-index: 3;
  top: 16px;
  right: 50px;
}

.section1 .row:nth-child(2) {
  margin: 10.32vh 0;
}

.section2 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section2 .text-main-cotent {
  margin-top: 3.71vh;
  letter-spacing: 0.4375rem;
  line-height: 3.15rem;
}

.section2 .row:nth-child(3) {
  margin-top: 13.89vh;
}

.section2 .row:nth-child(4) {
  margin-top: 12.04vh;
}

.img-main-bgi {
  background-image: url("../img/main/main-bgi.png");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.nextTrip {
  padding: 13.89vh 0 9.26vh 0;
}

.nextTrip .img-main-btn img {
  border-radius: 21px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

footer {
  background-color: #4D4D4D;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}

footer div {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
}

footer div p {
  letter-spacing: 0.3rem;
}

@media (max-width: 1199.98px) {
  .dropdown-menu {
    width: 100vw;
    background-color: rgba(77, 77, 77, 0.9);
    top: 95%;
    left: unset;
    right: 0;
    border: unset;
    border-radius: unset;
  }
  .dropdown-menu .dropdown-item {
    background-color: transparent;
    display: block;
    clear: both;
    text-align: inherit;
    white-space: pre-wrap;
  }
  .dropdown-menu .dropdown-item li {
    display: inline-block;
  }
  .section1 {
    min-height: unset;
    padding-top: unset;
    padding-bottom: unset;
  }
  .section1 .row:nth-child(1)::before {
    content: '';
    height: 40px;
  }
  .section1 .row:nth-child(1) {
    margin-top: 10%;
  }
  .section1 .row:nth-child(1) div:nth-child(1) > .img-main-digibar img:nth-child(1) {
    display: none;
    width: 80%;
  }
  .section1 .row:nth-child(1) div:nth-child(1) > .img-main-digibar img:nth-child(2) {
    width: 80%;
  }
  .section1 .row:nth-child(1) .marquee img {
    width: 50%;
  }
  .section1 .row:nth-child(1) div:nth-child(2) > .img-main-digibar img {
    width: 100%;
  }
  .section1 .row:nth-child(2) {
    margin: unset;
    margin-top: 10%;
  }
  .section1 .row:nth-child(2) .col img {
    width: 100%;
  }
  .section2 {
    min-height: unset;
    padding-top: unset;
    padding-bottom: unset;
  }
  .section2 .row:nth-child(1) {
    margin-top: 15%;
  }
  .section2 .row:nth-child(1) .col {
    text-align: center;
  }
  .section2 .row:nth-child(1) .col img {
    width: 50%;
  }
  .section2 .row:nth-child(2) {
    margin-top: 10%;
  }
  .section2 .row:nth-child(2) .col p {
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
    line-height: 1.1rem;
  }
  .section2 .row:nth-child(3) {
    margin-top: 10%;
  }
  .section2 .row:nth-child(3) .col-6 div img {
    width: 38vw;
  }
  .section2 .row:nth-child(4) {
    margin-top: 5%;
  }
  .section2 .row:nth-child(4) .col img {
    width: 100%;
  }
  .img-main-bgi {
    background-size: contain;
  }
}
/*# sourceMappingURL=main_style.css.map */