$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

// 支線路線image顏色
$Neiw-color: #D63428;
$Liuj-color: #FF7E1E;
$Jiji-color: #FFC10E;
$Shal-color: #5EC324;
$Shen-color: #0071BC;
$Ping-color: #93278F;

$font-size-content-m: 1rem; // 16px
$font-size-content-l: 1.8125rem; // 29px
$font-size-content-time: 2.875rem; // 46px
$font-size-content-h2: 2.9375rem; // 47px
$font-size-content-h1: 4.75rem; // 76px

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;

body {
    font-family: $web-font;
    font-weight: normal;
    font-size: $font-size-content-l;
}

.navbar {
    background-color: $navbar-color;
    font-size: $font-size-content-m;
    // width: 100%;
    // position: absolute;
    // z-index: 999;

    a {
        letter-spacing: 0.6rem;

        img {
            height: 40px;
        }
    }

    a:hover {
        color: $time-color !important;
    }

    a:active {
        color: $sub-color !important;
    }
}

// 內文首字 | 
span {
    color: $sub-color;
}

.section1 {
    min-height: 100vh;
    padding-top: 9.26vh;
    padding-bottom: 9.26vh;

    // 電子看板垂直置中
    .row:nth-child(1)::before {
        content: '';
        height: 100px;
    }

    // 電子看板
    .img-main-digibar {
        display: flex;
        position: absolute;
        z-index: 1;
    }

    // 天氣+時間向左移動
    .col-3>div.img-main-digibar {
        right: 16px;
    }

    // 跑馬燈
    .marquee {
        margin: 0.63rem 0;
        width: 828px;
        position: absolute;
        z-index: 2;
        left: 19px;
        overflow: hidden;
    }

    // 當地天氣
    .localweather {
        padding: 0.597rem 0.75rem;
        position: absolute;
        z-index: 3;
        left: -6px;
    }

    // 當地時間
    .localtime {
        font-family: $web-font-1;
        font-size: $font-size-content-time;
        color: $time-color;
        letter-spacing: 0.1rem;
        // padding: 0 1.8rem;
        align-self: center;
        position: absolute;
        z-index: 3;
        top: 16px;
        right: 50px;
    }

    // 支線站點地圖
    .row:nth-child(2) {
        margin: 10.32vh 0;

        // p {
        //     font-size: $font-size-content-h1;
        //     font-weight: bold;
        //     writing-mode: vertical-rl;
        //     letter-spacing: 0.625rem;
        //     position: absolute;
        // }
    }
}

.section2 {
    min-height: 100vh;
    padding-top: 9.26vh;
    padding-bottom: 9.26vh;

    // 各支線滿版內文
    .text-main-cotent {
        margin-top: 3.71vh;
        letter-spacing: 0.4375rem;
        line-height: 3.15rem;
    }

    // 各支線公里數
    .row:nth-child(3) {
        margin-top: 13.89vh;
    }

    // 各支線火車路線圖(含起迄站牌)
    .row:nth-child(4) {
        margin-top: 12.04vh;
    }
}

// 背景圖片: 白天藍雲
.img-main-bgi {
    background-image: url('../img/main/main-bgi.png');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.nextTrip {
    padding: 13.89vh 0 9.26vh 0;
    overflow: hidden;

    .img-main-btn img {
        border-radius: 21px;
    }
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: $font-size-content-m;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
    min-width: 75px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

footer {
    background-color: $navbar-color;
    font-size: $font-size-content-m;
    color: rgba($color: #fff, $alpha: 0.7);

    div {
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;

        p {
            letter-spacing: 0.3rem;
        }
    }
}

@media (max-width: 1199.98px) {
    .dropdown-menu {
        width: 100vw;
        background-color: rgba($color: $navbar-color, $alpha: 0.9);
        top: 95%;
        left: unset;
        right: 0;
        border: unset;
        border-radius: unset;

        .dropdown-item {
            background-color: transparent;
            display: block;
            clear: both;
            text-align: inherit;
            white-space: pre-wrap;

            li {
                display: inline-block;
            }
        }
    }

    .section1 {
        min-height: unset;
        padding-top: unset;
        padding-bottom: unset;

        .row:nth-child(1)::before {
            content: '';
            height: 40px;
        }

        .row:nth-child(1) {
            margin-top: 10%;

            div:nth-child(1)>.img-main-digibar {
                img:nth-child(1) {
                    display: none;
                    width: 80%;
                }

                img:nth-child(2) {
                    // display: none;
                    width: 80%;
                }
            }

            .marquee {
                img {
                    width: 50%;
                }
            }

            div:nth-child(2)>.img-main-digibar {
                img {
                    width: 100%;
                }
            }
        }

        .row:nth-child(2) {
            margin: unset;
            margin-top: 10%;

            .col {
                img {
                    width: 100%;
                }
            }
        }
    }

    .section2 {
        min-height: unset;
        padding-top: unset;
        padding-bottom: unset;

        .row:nth-child(1) {
            margin-top: 15%;

            .col {
                text-align: center;

                img {
                    width: 50%;
                }
            }
        }

        .row:nth-child(2) {
            margin-top: 10%;

            .col {
                p {
                    font-size: 0.75rem;
                    letter-spacing: 0.2rem;
                    line-height: 1.1rem;
                }
            }
        }

        .row:nth-child(3) {
            margin-top: 10%;

            .col-6 {
                div {
                    img {
                        width: 38vw;
                    }
                }
            }
        }

        .row:nth-child(4) {
            margin-top: 5%;

            .col {
                img {
                    width: 100%;
                }
            }
        }
    }

    .img-main-bgi {
        background-size: contain;
    }
}