.section3 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section3 .row:nth-child(2) {
  margin-top: 4.63vh;
}

.section3 .row:nth-child(3) {
  margin-top: 50vh;
}

.section3 .row:nth-child(3) p {
  font-size: 1rem;
  letter-spacing: 0.21rem;
}

.img-Neiw-hex01 {
  background-image: url("../img/Neiw/Neiw-hex01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.section4 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section4 .col::before {
  content: url("../img/Neiw/Neiw-hex02-3.jpg");
  max-width: 390px;
  position: absolute;
  right: 1140px;
  opacity: 0.3;
  overflow: hidden;
}

.section4 .col::after {
  content: url("../img/Neiw/Neiw-hex02-2.jpg");
  max-width: 390px;
  position: absolute;
  top: 0;
  left: 1140px;
  opacity: 0.3;
  overflow: hidden;
}

.section5 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section5 .col-4 > div:nth-child(2) {
  margin-top: 3.71vh;
}

.section5 p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.img-Neiw-firefly01 {
  background-image: url("../img/Neiw/Neiw-firefly01.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section6 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section6 .row:nth-child(1) p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.section6 .row:nth-child(2) {
  margin-top: 8.8vh;
}

.section7 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section7 .col-4 > div:nth-child(2) {
  margin-top: 3.71vh;
}

.section7 p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.section7 .row:nth-child(2) {
  margin-top: 7.41vh;
}

.section8 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section8 .row:nth-child(2) {
  margin-top: 5.56vh;
}

@media (max-width: 320px) {
  .section3 .mini {
    width: 100%;
  }
  .section3 .row:nth-child(3) {
    margin-top: 105vh;
  }
  .section4 {
    padding: 15% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section4 img {
    width: 100%;
  }
  .section5 {
    padding-top: 0;
    padding-bottom: 100vh;
  }
  .section5 .mini {
    width: 90%;
  }
  .section5 .col-lg-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section5 .col-lg-4 > div:nth-child(2) {
    margin-top: 1.71vh;
  }
  .section5 .padding_top {
    padding-top: 2vh;
  }
  .section5 p {
    letter-spacing: 0.1rem;
    line-height: 1.15rem;
    padding: 2vh 0 7vh 0;
  }
  .section6 .rounded-lg {
    width: 90%;
  }
  .section6 .row:nth-child(1) p {
    letter-spacing: 0.4rem;
    line-height: 1.15rem;
    padding-top: 4.8vh;
  }
  .section6 .row:nth-child(2) {
    margin-top: 4.8vh;
  }
  .section7 {
    min-height: unset;
    padding: 15% 0;
  }
  .section7 .rounded-lg {
    width: 100%;
  }
  .section8 {
    padding: 0 0 15% 0;
    min-height: unset;
    text-align: center;
  }
  .section8 .row {
    margin: 0;
  }
  .section8 .img1 {
    width: 290px;
  }
  .section8 .col-3 img {
    width: 61.25px;
  }
}
/*# sourceMappingURL=Neiw_style.css.map */