.section3 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section3 .row:nth-child(2) {
  margin-top: 4.63vh;
}

.section3 .row:nth-child(3) {
  margin-top: 50vh;
}

.section3 .row:nth-child(3) p {
  font-size: 1rem;
  letter-spacing: 0.21rem;
}

.img-Neiw-hex01 {
  background-image: url("../img/Neiw/Neiw-hex01.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.section4 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section4 .col::before {
  content: url("../img/Neiw/Neiw-hex02-3.jpg");
  max-width: 390px;
  position: absolute;
  right: 1140px;
  opacity: 0.3;
  overflow: hidden;
}

.section4 .col::after {
  content: url("../img/Neiw/Neiw-hex02-2.jpg");
  max-width: 390px;
  position: absolute;
  top: 0;
  left: 1140px;
  opacity: 0.3;
  overflow: hidden;
}

.section5 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section5 .col-4 > div:nth-child(2) {
  margin-top: 3.71vh;
}

.section5 p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.img-Neiw-firefly01 {
  background-image: url("../img/Neiw/Neiw-firefly01.jpg");
  background-position: center bottom;
  background-repeat: no-repeat;
}

.section6 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section6 .row:nth-child(1) p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.section6 .row:nth-child(2) {
  margin-top: 8.8vh;
}

.section7 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section7 .col-4 > div:nth-child(2) {
  margin-top: 3.71vh;
}

.section7 p {
  letter-spacing: 0.4rem;
  line-height: 3.15rem;
}

.section7 .row:nth-child(2) {
  margin-top: 7.41vh;
}

.section8 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section8 .row:nth-child(2) {
  margin-top: 5.56vh;
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
  .section1 {
    padding: 10% 0 15% 0;
  }
  .section2 {
    padding: 0 0 15% 0;
  }
  .section2 .text-main-Neiw-cotent {
    margin-top: 10%;
  }
  .section2 .text-main-Neiw-cotent p {
    margin-bottom: 0;
  }
  .section3 {
    padding: 0;
  }
  .section3 .img-Neiw-hex01 {
    width: 320px;
  }
  .section3 .img-Neiw-hex01 .container {
    padding: 0;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title {
    margin: 0;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title .col-4 {
    max-width: unset;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title .mini1 {
    width: 451px;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title .mini1 .img1 {
    margin-bottom: 0;
    width: 34%;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title .mini2 {
    width: 151px;
    height: 81px;
  }
  .section3 .img-Neiw-hex01 .container .Neiw-hex-title .img2 {
    width: 60%;
    margin-top: 5%;
  }
  .section3 .container {
    padding: 0;
  }
  .section3 .container .text-Neiw-hex01 {
    margin-top: 5%;
  }
  .section3 .container .text-Neiw-hex01 p {
    margin-bottom: 0;
  }
  .section4 {
    padding: 15% 0 0 0;
  }
  .section5 {
    min-height: 100vh;
    padding: 0 0 15% 0;
    text-align: left;
  }
  .section5 .mini1 {
    width: 351px;
    height: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section5 .img1 {
    width: 34%;
    margin-bottom: 5%;
  }
  .section5 .mini2 {
    width: 351px;
    height: 106px;
  }
  .section5 .img2 {
    margin-top: 0;
    width: 34%;
  }
  .section5 .text-Neiw-cjcu01 {
    letter-spacing: 6px;
    line-height: 1.6em;
  }
  .section5 p {
    margin-bottom: 0;
  }
  .section5 .img2 {
    margin: 5% 0 0 0;
  }
  .section6 .row {
    padding-bottom: 5%;
  }
  .section6 .row .mini {
    width: 446px;
    height: 421px;
  }
  .section6 .row .img {
    width: 34%;
  }
  .section6 .row .text-Neiw-firefly01 {
    letter-spacing: 6px;
    line-height: 1.6em;
  }
  .section6 p {
    margin-bottom: 0;
  }
  .section7 {
    min-height: unset;
    padding: 15% 0;
  }
  .section7 .mini1 {
    width: 351px;
    height: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section7 .col-2 {
    padding: 0;
  }
  .section7 .img1 {
    margin-bottom: 5%;
    width: 34%;
  }
  .section7 .mini2 {
    width: 351px;
    height: 106px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section7 .mini2 img {
    margin-bottom: 5%;
    width: 34%;
  }
  .section7 .img2 {
    width: 320px;
  }
  .section7 .col-2 {
    width: 0 !important;
    height: 0;
  }
  .section7 .col {
    padding: 0;
  }
  .section7 p {
    padding-left: 30px;
  }
  .section8 {
    padding: 0 0 15% 0;
    min-height: unset;
    text-align: center;
  }
  .section8 .row {
    margin: 0;
  }
  .section8 .img1 {
    width: 290px;
  }
  .section8 .col-3 img {
    width: 61.25px;
  }
  .section9 {
    padding: 5% 0 10% 0;
  }
}
/*# sourceMappingURL=Neiw_style.css.map */