$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

// 支線路線image顏色
$Neiw-color: #D63428;
$Liuj-color: #FF7E1E;
$Jiji-color: #FFC10E;
$Shal-color: #5EC324;
$Shen-color: #0071BC;
$Ping-color: #93278F;

$font-size-content-m: 1rem; // 16px
$font-size-content-l: 1.8125rem; // 29px
$font-size-content-time: 2.875rem; // 46px
$font-size-content-h2: 2.9375rem; // 47px
$font-size-content-h1: 4.75rem; // 76px

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;

// 版型F
.section3 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  .row:nth-child(2) {
    margin-top: 4.63vh;
  }

  .row:nth-child(3) {
    margin-top: 50vh;

    p {
      font-size: $font-size-content-m;
      letter-spacing: 0.21rem;
    }
  }
}

.img-Neiw-hex01 {
  background-image: url('../img/Neiw/Neiw-hex01.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

// 版型G
.section4 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
  


  .col::before {
    content: url('../img/Neiw/Neiw-hex02-3.jpg');
    max-width: 390px;
    position: absolute;
    right: 1140px;
    opacity: 0.3;
    overflow: hidden
  }

  .col::after {
    content: url('../img/Neiw/Neiw-hex02-2.jpg');
    max-width: 390px;
    position: absolute;
    top: 0;
    left: 1140px;
    opacity: 0.3;
    overflow: hidden
  }
}

// 版型C-1
.section5 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  // 4欄位兩行標題
  .col-4>div:nth-child(2) {
    margin-top: 3.71vh;
  }

  // 6欄位內文
  p {
    letter-spacing: 0.4rem;
    line-height: 3.15rem;
  }
}

.img-Neiw-firefly01 {
  background-image: url('../img/Neiw/Neiw-firefly01.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
}

// 版型H
.section6 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  .row:nth-child(1) {
    p {
      letter-spacing: 0.4rem;
      line-height: 3.15rem;
    }
  }

  .row:nth-child(2) {
    margin-top: 8.8vh;
  }
}

// 版型C-2
.section7 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  // 4欄位兩行標題
  .col-4>div:nth-child(2) {
    margin-top: 3.71vh;
  }

  // 6欄位內文
  p {
    letter-spacing: 0.4rem;
    line-height: 3.15rem;
  }

  // 滿版圖片
  .row:nth-child(2) {
    margin-top: 7.41vh;
  }
}

// 版型I
.section8 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  .row:nth-child(2) {
    margin-top: 5.56vh;
  }
}


// 待調整
@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .section1 {
    padding: 10% 0 15% 0;
  }

  .section2 {
    padding: 0 0 15% 0;

    .text-main-Neiw-cotent {
      margin-top: 10%;

      p {
        margin-bottom: 0;
      }
    }
  }

  .section3 {
    padding: 0;

    .img-Neiw-hex01 {
      width: 320px;

      .container {
        padding: 0;

        .Neiw-hex-title {
          margin: 0;

          .col-4 {
            max-width: unset;
          }

          .mini1 {
            width: 451px;
            height: 81px;
            // transform: scale(0.34, 0.34);
            display: flex;
            align-items: flex-end;

            .img1 {
              margin-bottom: 0;
              width: 34%;
            }
          }

          .mini2 {
            width: 151px;
            height: 81px;
          }

          .img2 {
            width: 60%;
            margin-top: 5%;
          }
        }
      }
    }

    .container {
      padding: 0;

      .text-Neiw-hex01 {
        margin-top: 5%;

        p {
          margin-bottom: 0;
        }
      }
    }
  }

  .section4 {
    padding: 15% 0 0 0;
  }

  .section5 {
    min-height: 100vh;
    padding: 0 0 15% 0;
    text-align: left;

    .mini1 {
      width: 351px;
      height: 106px;
      display: flex;
      align-items: flex-end;
    }

    .img1 {
      width: 34%;
      margin-bottom: 5%;
    }

    .mini2 {
      width: 351px;
      height: 106px;
    }

    .img2 {
      margin-top: 0;
      width: 34%;
    }

    // 6欄位內文
    .text-Neiw-cjcu01 {
      letter-spacing: 6px;
      line-height: 1.6em;
    }

    p {
      margin-bottom: 0;
    }

    .img2 {
      margin: 5% 0 0 0;
    }
  }

  .section6 {
    .row {
      padding-bottom: 5%;

      .mini {
        width: 446px;
        height: 421px;
      }

      .img {
        width: 34%;
      }

      // 6欄位內文
      .text-Neiw-firefly01 {
        letter-spacing: 6px;
        line-height: 1.6em;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .section7 {
    min-height: unset;
    padding: 15% 0;

    .mini1 {
      width: 351px;
      height: 106px;
      display: flex;
      align-items: flex-end;
    }

    .col-2 {
      padding: 0;
    }

    .img1 {
      margin-bottom: 5%;
      width: 34%;
    }

    .mini2 {
      width: 351px;
      height: 106px;
      display: flex;
      align-items: flex-start;

      img {
        margin-bottom: 5%;
        width: 34%;
      }
    }

    .img2 {
      width: 320px;
    }

    .col-2 {
      width: 0 !important;
      height: 0;
    }

    .col {
      padding: 0;
    }

    p {
      padding-left: 30px;
    }
  }

  .section8 {
    padding: 0 0 15% 0;
    min-height: unset;
    text-align: center;

    .row {
      margin: 0;
    }

    .img1 {
      width: 290px;
    }

    .col-3 {
      img {
        width: 61.25px;
      }
    }
  }

  .section9 {
    padding: 5% 0 10% 0;
  }
}