.section3 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section3 .row:nth-child(2) {
  margin-top: 6.95vh;
}

.section3 .text-Ping-water01 {
  margin-top: 6.95vh;
  letter-spacing: 0.2rem;
  line-height: 2.6rem;
}

.section4 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;
}

.section4 .col-5 div:nth-child(2) {
  margin-top: 3.71vh;
}

.section4 .col-5 div:nth-child(2) p {
  letter-spacing: 0.5rem;
  line-height: 3.15rem;
}

.section5 {
  min-height: 100vh;
}

.img-Ping-lamp02 {
  background-image: url("../img/Ping/Ping-lamp02.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
  .section1 {
    padding: 10% 0 15% 0;
  }
  .section2 {
    padding: 0 0 15% 0;
  }
  .section2 .text-main-Neiw-cotent {
    margin-top: 10%;
  }
  .section2 .text-main-Neiw-cotent p {
    margin-bottom: 0;
  }
  .section3 {
    padding: 0;
    text-align: left;
    min-height: unset;
  }
  .section3 .custom-row-mx-15 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
  }
  .section3 .custom-row-mx-15 .mini {
    width: 636px;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10%;
  }
  .section3 .custom-row-mx-15 .mini .img1 {
    width: 34%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section3 .mini1 {
    width: 151px;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section3 .mini1 .img2 {
    margin: 5% 0;
    width: 60%;
    height: 60%;
  }
  .img-Ping-water01 {
    margin-top: 0;
    max-width: 290px;
    height: 90px;
    border-radius: 5px;
    background-image: url("../img/Ping/Ping-water01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .text-Ping-water01 {
    padding-top: 5%;
  }
  .text-Ping-water01 p {
    margin-bottom: 0;
  }
  .text-Ping-water01 .img-Ping-water01 {
    margin-top: 75px;
    max-width: 1110px;
    height: 402px;
    border-radius: 5px;
    background-image: url("../img/Ping/Ping-water01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section4 {
    padding: 0;
  }
  .section4 .mini {
    width: 336px;
    height: 81px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .section4 .title-Ping-lamp01 {
    margin: 0 15px;
    width: 34%;
  }
  .section4 p {
    width: 290px;
    margin: 0 15px;
    padding: 5% 0;
  }
  .section4 .img1 {
    width: 320px;
  }
  .section5 img {
    padding-top: 15%;
    height: 100vh;
  }
}
/*# sourceMappingURL=Ping_style.css.map */