$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

// 支線路線image顏色
$Neiw-color: #D63428;
$Liuj-color: #FF7E1E;
$Jiji-color: #FFC10E;
$Shal-color: #5EC324;
$Shen-color: #0071BC;
$Ping-color: #93278F;

$font-size-content-m: 1rem; // 16px
$font-size-content-l: 1.8125rem; // 29px
$font-size-content-time: 2.875rem; // 46px
$font-size-content-h2: 2.9375rem; // 47px
$font-size-content-h1: 4.75rem; // 76px

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;

// 版型A
.section3 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  // 滿版圖片
  .row:nth-child(2) {
      margin-top: 6.95vh;
  }

  // 滿版內文
  .text-Ping-water01 {
      margin-top: 6.95vh;
      letter-spacing: 0.2rem;
      line-height: 2.6rem;
  }
}

// 版型D
.section4 {
  min-height: 100vh;
  padding-top: 9.26vh;
  padding-bottom: 9.26vh;

  .col-5 div:nth-child(2) {
      margin-top: 3.71vh;

      p {
          letter-spacing: 0.5rem;
          line-height: 3.15rem;
      }
  }
}

// 版型K
.section5 {
  min-height: 100vh;
}
.img-Ping-lamp02 {
  background-image: url('../img/Ping/Ping-lamp02.jpg');
  background-position: center;
  background-repeat: no-repeat;
}



// 待調整
@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .section1 {
    padding: 10% 0 15% 0;
  }

  .section2 {
    padding: 0 0 15% 0;

    .text-main-Neiw-cotent {
      margin-top: 10%;

      p {
        margin-bottom: 0;
      }
    }
  }

  .section3 {
    padding: 0;
    text-align: left;
    min-height: unset;

    .custom-row-mx-15 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;

      .mini {
        width: 636px;
        height: 81px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10%;

        .img1 {
          width: 34%;
          align-self: flex-end;
          display: flex;
        }
      }
    }

    .mini1 {
      width: 151px;
      height: 81px;
      display: flex;
      align-items: flex-end;

      .img2 {
        margin: 5% 0;
        width: 60%;
        height: 60%;
      }
    }
  }

  // 滿版圖片
  .img-Ping-water01 {
    margin-top: 0;
    max-width: 290px;
    height: 90px;
    border-radius: 5px;
    background-image: url("../img/Ping/Ping-water01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  // 滿版內文
  .text-Ping-water01 {
    padding-top: 5%;

    p {
      margin-bottom: 0;
    }

    .img-Ping-water01 {
      margin-top: 75px;
      max-width: 1110px;
      height: 402px;
      border-radius: 5px;
      background-image: url("../img/Ping/Ping-water01.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .section4 {
    padding: 0;

    .mini {
      width: 336px;
      height: 81px;
      display: flex;
      align-items: flex-end;
    }

    .title-Ping-lamp01 {
      margin: 0 15px;
      width: 34%;
    }

    p {
      width: 290px;
      margin: 0 15px;
      padding: 5% 0;
    }

    .img1 {
      width: 320px;
    }

    // .col-6 {}
  }

  .section5 {
    img {
      padding-top: 15%;
      height: 100vh;
    }
  }
}