$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

// 支線路線image顏色
$Neiw-color: #D63428;
$Liuj-color: #FF7E1E;
$Jiji-color: #FFC10E;
$Shal-color: #5EC324;
$Shen-color: #0071BC;
$Ping-color: #93278F;

$font-size-content-m: 1rem; // 16px
$font-size-content-l: 1.8125rem; // 29px
$font-size-content-time: 2.875rem; // 46px
$font-size-content-h2: 2.9375rem; // 47px
$font-size-content-h1: 4.75rem; // 76px

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;


.section2 {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;

  // 單行標題: 平溪支旅
  .img-main-Ping-title {
    max-width: 350px;
    height: 80px;
    background-image: url("../Ping-img/main-Ping-title.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  // 滿版內文
  .text-main-Ping-cotent {
    margin-top: 40px;
    letter-spacing: 7px;
    line-height: 1.6em;
  }

  // 公里數
  .img-main-Ping-km {
    margin-top: 150px;
    max-width: 445px;
    height: 105px;
  }

  // 路線圖(含起迄站牌)
  .img-main-Ping-line {
    margin-top: 133px;
    max-width: 1110px;
    height: 140px;
    background-image: url("../img/main-Shal-line.png");
    background-position: bottom;
    background-repeat: no-repeat;
  }

  // 火車圖片
  .img-main-Ping-train {
    margin-top: -19px;
    max-width: 850px;
    height: 130px;
  }
}

// 背景圖片: 白天藍雲
.img-main-Shal-bgi {
  max-width: 1920px;
  height: 1080px;
  padding: 0;
  background-image: url("../img/main-Shal-bgi.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.section3 {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;

  //滿版圖片
  .img-Ping-water01 {
    margin-top: 75px;
    max-width: 1110px;
    height: 402px;
    border-radius: 5px;
    background-image: url("../img/Ping/Ping-water01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mini {
    padding-bottom: 75px;
  }

  .custom-row-mx-15 {
    margin-top: 75px;
  }

  // 滿版內文
  .text-Ping-water01 {
    margin-top: 75px;
    letter-spacing: 7px;
    line-height: 1.6em;
  }
}

.section4 {
  min-height: 100vh;
  padding: 100px 0;
  text-align: center;

  .title-Ping-lamp01 {
    margin-bottom: 40px;
  }

  // 5欄內文
  .text-Ping-lamp01 {
    letter-spacing: 7px;
    line-height: 1.6em;
  }
}

.section5 {
  text-align: center;
}

.section6 {
  min-height: 50vh;
  padding: 150px 0 100px 0;
  text-align: center;

  .img-main-btn-Shal {
    max-width: 255px;
    height: 360px;
    border-radius: 20px;
    background-image: url("../img/main-btn-Shal.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}




@media (max-width: 320px) {
  body {
    font-size: 12px;
  }

  .section1 {
    padding: 10% 0 15% 0;
  }

  .section2 {
    padding: 0 0 15% 0;

    .text-main-Neiw-cotent {
      margin-top: 10%;

      p {
        margin-bottom: 0;
      }
    }
  }

  .section3 {
    padding: 0;
    text-align: left;
    min-height: unset;

    .custom-row-mx-15 {
      display: flex;
      flex-wrap: wrap;
      margin-top: 0;

      .mini {
        width: 636px;
        height: 81px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10%;

        .img1 {
          width: 34%;
          align-self: flex-end;
          display: flex;
        }
      }
    }

    .mini1 {
      width: 151px;
      height: 81px;
      display: flex;
      align-items: flex-end;

      .img2 {
        margin: 5% 0;
        width: 60%;
        height: 60%;
      }
    }
  }

  // 滿版圖片
  .img-Ping-water01 {
    margin-top: 0;
    max-width: 290px;
    height: 90px;
    border-radius: 5px;
    background-image: url("../img/Ping/Ping-water01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  // 滿版內文
  .text-Ping-water01 {
    padding-top: 5%;

    p {
      margin-bottom: 0;
    }

    .img-Ping-water01 {
      margin-top: 75px;
      max-width: 1110px;
      height: 402px;
      border-radius: 5px;
      background-image: url("../img/Ping/Ping-water01.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .section4 {
    padding: 0;

    .mini {
      width: 336px;
      height: 81px;
      display: flex;
      align-items: flex-end;
    }

    .title-Ping-lamp01 {
      margin: 0 15px;
      width: 34%;
    }

    p {
      width: 290px;
      margin: 0 15px;
      padding: 5% 0;
    }

    .img1 {
      width: 320px;
    }

    // .col-6 {}
  }

  .section5 {
    img {
      padding-top: 15%;
      height: 100vh;
    }
  }
}