$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

// 支線路線image顏色
$Neiw-color: #D63428;
$Liuj-color: #FF7E1E;
$Jiji-color: #FFC10E;
$Shal-color: #5EC324;
$Shen-color: #0071BC;
$Ping-color: #93278F;

$font-size-content-m: 16px;
$font-size-content-l: 29px;
$font-size-content-time: 46px;
$font-size-content-h2: 47px;
$font-size-content-h1: 76px;

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;

// 版型A
.section3 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    img {
        width: 100%;
    }
    // 滿版圖片
    .img-Shal-chime01 {
        margin-top: 75px;
    }

    // 滿版內文
    .text-Shal-chime01 {
        margin-top: 75px;
        letter-spacing: 7px;
        line-height: 1.6em;
    }
}

// 版型B
.section4 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 滿版圖片
    .img-Shal-chime02 {
        // max-width: 1110px;
        min-height: 880px;
        height: 100%;
        background-image: url('../img/Shal/Shal-chime02.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 置中4欄位內文
    .text-Shal-chime02 {
        font-size: $font-size-content-m;
        color: #fff;
        letter-spacing: 2px;
        line-height: 1.7em;
        text-shadow: 1px 1px 5px #000;
    }
}

// 版型C
.section5 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    img {
        width: 100%;
    }

    // 4欄位兩行標題
    .img-Shal-cjcuTitle02 {
        margin-top: 40px;
    }

    // 6欄位內文
    .text-Shal-cjcu01 {
        letter-spacing: 6px;
        line-height: 1.6em;
    }

    // 滿版圖片
    .img-Shal-cjcu01 {
        margin-top: 80px;
    }
}