$navbar-color: #4D4D4D;
$sub-color: #FF7E1E;
$time-color: #FFC10E;

$font-size-content-m: 16px;
$font-size-content-l: 29px;
$font-size-content-time: 46px;
$font-size-content-h2: 47px;
$font-size-content-h1: 76px;

$web-font: 'Noto Sans TC',
sans-serif;
$web-font-1: 'Share Tech Mono',
monospace;

body {
    font-family: $web-font;
    font-weight: normal;
    font-size: $font-size-content-l;
}

nav {
    background-color: $navbar-color;
    font-size: $font-size-content-m;

    a {
        letter-spacing: 6px;
    }
}

// LOGO: 鐵支路
.img-logo {
    width: 80px;
    height: 35px;
    background-image: url('../img/logo.png');
    background-position: center;
    background-repeat: no-repeat;
}

// 內文首字 | 
span {
    color: $sub-color;
}

// 手動加上左右margin
.custom-row-mx-15 {
    margin: 0 15px;
}

.section1 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 電子看板
    .img-main-digibar {
        max-width: 1110px;
        height: 100px;
        background-image: url('../img/main-digibar.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 當地時間
    .localtime {
        font-family: $web-font-1;
        font-size: $font-size-content-time;
        color: $time-color;
        text-align: left;
        align-self: center;
        letter-spacing: 3px;
    }

    // 支線地圖
    .img-main-Shal-map {
        max-width: 1110px;
        height: 700px;
        background-image: url('../img/main-Shal-map.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.section2 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 單行標題: 沙崙支旅
    .img-main-Shal-title {
        max-width: 350px;
        height: 80px;
        background-image: url('../img/main-Shal-title.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 滿版內文
    .text-main-Shal-cotent {
        margin-top: 40px;
        letter-spacing: 7px;
        line-height: 1.6em;
    }

    // 公里數
    .img-main-Shal-km {
        margin-top: 150px;
        max-width: 445px;
        height: 105px;
    }

    // 路線圖(含起迄站牌)
    .img-main-Shal-line {
        margin-top: 133px;
        max-width: 1110px;
        height: 140px;
        background-image: url('../img/main-Shal-line.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }

    // 火車圖片
    .img-main-Shal-train {
        margin-top: -19px;
        max-width: 850px;
        height: 130px;
    }
}

// 背景圖片: 白天藍雲
.img-main-Shal-bgi {
    max-width: 1920px;
    height: 1080px;
    padding: 0;
    background-image: url('../img/main-Shal-bgi.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.section3 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 單行標題
    .img-Shal-chimeTitle {
        margin-left: 15px;
        max-width: 1110px;
        height: 80px;
        background-image: url('../img/Shal-chimeTitle.png');
    }

    // 滿版圖片
    .img-Shal-chime01 {
        margin-top: 75px;
        max-width: 1110px;
        height: 402px;
        border-radius: 5px;
        background-image: url('../img/Shal-chime01.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    // 滿版內文
    .text-Shal-chime01 {
        margin-top: 75px;
        letter-spacing: 7px;
        line-height: 1.6em;
    }
}

.section4 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 滿版圖片
    .img-Shal-chime02 {
        max-width: 1110px;
        height: 880px;
        border-radius: 5px;
        background-image: url('../img/Shal-chime02.svg');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 置中4欄位內文
    .text-Shal-chime02 {
        font-size: $font-size-content-m;
        color: #fff;
        letter-spacing: 2px;
        line-height: 1.7em;
    }
}

.section5 {
    min-height: 100vh;
    padding: 100px 0;
    text-align: center;

    // 4欄位單行標題
    .img-Shal-cjcuTitle01 {
        max-width: 350px;
        height: 105px;
        background-image: url('../img/Shal-cjcuTitle01.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 4欄位兩行標題
    .img-Shal-cjcuTitle02 {
        margin-top: 40px;
        max-width: 350px;
        height: 105px;
        background-image: url('../img/Shal-cjcuTitle02.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    // 6欄位內文
    .text-Shal-cjcu01 {
        letter-spacing: 6px;
        line-height: 1.6em;
    }

    // 滿版圖片
    .img-Shal-cjcu01 {
        margin-top: 80px;
        max-width: 1110px;
        height: 550px;
        border-radius: 5px;
        background-image: url('../img/Shal-cjcu01.jpg');
        background-position: center;
        background-repeat: no-repeat;
    }
}

.section6 {
    min-height: 50vh;
    padding: 150px 0 100px 0;
    text-align: center;

    .img-main-btn-Shal {
        max-width: 255px;
        height: 360px;
        border-radius: 20px;
        background-image: url('../img/main-btn-Shal.png');
        background-position: center;
        background-repeat: no-repeat;
    }

}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: $font-size-content-m;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: '';
}

footer {
    min-height: 200px;
    padding: 90px 0;
    background-color: $navbar-color;
    color: rgba($color: #fff, $alpha: 0.7);
    font-size: $font-size-content-m;

    div {
        padding: 15px;

        p {
            margin-bottom: 0;
            letter-spacing: 5px;
        }
    }
}